{{! YOUR CODE HERE }}
<form class="" action="index.html" method="post">
  <h3>{{RESTAURANT NAME HERE}}</h3>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Category
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">{{CATEGORY NAME}}</a>
      <a class="dropdown-item" href="#">{{CATEGORY NAME}}</a>
      <a class="dropdown-item" href="#">{{CATEGORY NAME}}</a>
    </div>
  </div>
  <div class="">
    Relative price: {{RELATIVE PRICE HERE}}
  </div>
  <div class="">

  </div>
  <div class="">
    <button type="button" name="button" class="btn btn-default">Add Restaurant</button>
  </div>
</form>
