{{! YOUR CODE HERE }}
{{#each users}}

<form action="/profile/{{_id}}" method="GET" id="{{_id}}">
  <button type="submit" form="{{_id}}" value="Submit">
    <div style="font-weight:bold;">{{displayName}}</div>
    <div>{{location}}</div>
  </button>
</form>

<!-- <a type="button" class="btn btn-secondary" href="/profile/{{_id}}">
  <div style="font-weight:bold;">{{displayName}}</div>
  <div>{{username}}</div>
</a> -->
{{/each}}
