{{! YOUR CODE HERE }}
<div class="directoryContainer">
  <div class="element">
    <h3>User Directory</h3>
  </div>

  <div class="element">
    <h4 style="color: pink"><strong>Users ({{users.length}})</strong></h4>
  </div>

  <div class="element">
    {{#each users}}
    <div class="eachUser">
      <h4>{{this.displayName}}</h4>
      <h4>{{this.location}}</h4>
      <a href="/users/{{_id}}">More details</a>
      <button user-id="{{_id}}" class="followbutton" type="submit" name="follow">Follow</button>
      <button user-id="{{_id}}" class="unfollowbutton" type="submit" name="unfollow">Unfollow</button>
    </div>
    {{/each}}
  </div>
</div>
