{{! YOUR CODE HERE }}
  <h1>User Directory ({{users.length}})</h1>
{{#each users}}
<div class="list">
  <a href="./user/{{this._id}}"><h2>{{this.displayName}}</h2> </a>
  <p>{{this.location}}<p>
<form  action="/follow/{{this._id}}" method="post">
      <input style="display: inline-block;" type="submit" value="Follow"></form>
<form  action="/unfollow/{{this._id}}" method="post">
      <input style="display: inline-block;" type="submit" value="Unfollow"></form>
</div>
{{/each}}
