{{! YOUR CODE HERE }}
<br>
<h1>Users ({{user.length}})</h1>
<br>
{{#each user}}
  <strong>Name:</strong> {{this.displayName}}<br>
  <strong>Location:</strong> {{this.location}}<br>
  <form action="/unfollow/{{this._id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
  <form action="/follow/{{this._id}}" method="post">
    <input style="display: inline;" type="submit" value="Follow">
  </form><br>
{{/each}}
