{{! YOUR CODE HERE }}
{{#each restaurants}}
<tr>
  <td>{{name}}</td>
  <td>{{category}}</td>
  <td>{{relativePrice}}</td>
  <td>{{address}}</td>
  <td>{{openTime}}</td>
  <td>{{closeTime}}</td>
  <br><br>
</tr>
{{/each}}
