{{! YOUR CODE HERE }}
{{#each restaurants}}

<form action="/restaurants/{{_id}}" method="GET" id="{{_id}}">
  <button type="submit" form="{{_id}}" value="Submit">
    <div style="font-weight:bold;">{{name}}</div>
    <div>{{price}}x$</div>
    <div class="stars" id="stars-{{averageStars}}">

        <i class="star-1">★</i>
        <i class="star-2">★</i>
        <i class="star-3">★</i>
        <i class="star-4">★</i>
        <i class="star-5">★</i>

    </div> {{averageRating}}
  </button>
</form>

{{/each}}
