{{#each restaurants}}

<form action="/restaurants/{{_id}}" method="GET" id="{{_id}}">
  <button type="submit" form="{{_id}}" value="Submit">
    <div style="font-weight:bold;">{{name}}</div>
    <div>{{price}}</div>
    <div>{{averageRating}}</div>
    <div class="star-ratings-css-main" >
      <div class="star-ratings-css-top" style="width:{{averageRating}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    </div>
  </button>
</form>

<!-- <a type="button" class="btn btn-secondary" href="/profile/{{_id}}">
  <div style="font-weight:bold;">{{displayName}}</div>
  <div>{{username}}</div>
</a> -->
{{/each}}
