{{! YOUR CODE HERE }}
<h1> restaurants:~ </h1>
{{#each restaurants}}
  <p>Name: {{name}}</p>
  <p>Price: {{price}}</p>
  <p>category: {{category}}</p>
  <p>Opening Time: {{openTime}}</p>
  <p>Closing Time: {{closeTime}}</p>
  <p>---------------------------------------------</p>

{{/each}}
