{{! YOUR CODE HERE }}
<h1> Restaurants: </h1>

{{#each restaurants}}
  <h4><a href="/single/{{this._id}}">{{this.name}}</a></h4>
  <div>{{this.category}}</div>
  <div>{{this.price}}</div>
  <div>{{this.location}}</div>
{{/each}}
