<a href="/"> Back to Home </a>

<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.username}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>

<h4>Reviews: {{reviews.length}}</h4>
{{#each reviews}}
  <p>Rating {{stars}} / 5</p>
  <p>Restaurant: {{restaurant.name}}</p>
  <p>{{content}}</p>
{{/each}}

<h4>Following:</h4>
{{#each following}}
  <div>{{displayName}}
  <form  action="/unfollow/{{id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{displayName}}</p>
{{/each}}


{{#unless alreadyFollowed}}
  <form method="post" action="/follow/{{user.id}}">
    <input type="submit" value="Follow">
  </form>
{{else}}
  <form method="post" action="/unfollow/{{user.id}}">
    <input type="submit" value="Unfollow">
  </form>
{{/unless}}
