<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.address}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following:</h4>
{{#each following}}
  <div>{{userIdTo.displayName}}
    {{#if isFollowing}}
  <form action="/unfollow/{{userIdTo.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
    {{else}}
    {{#if notUser}}
    <form action="/follow/{{userIdTo.id}}" method="post">
      <input style="display: inline;" type="submit" value="Follow">
    </form>
    {{/if}}
  {{/if}}
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{userIdFrom.displayName}}</p>
{{/each}}

{{#if notUser}}
<br>
<hr>
<h4>Follow Me!</h4>
{{#if isFollowing}}
<form action="/unfollow/{{user.id}}" method="post">
  <input style="display: inline;" type="submit" value="Unfollow">
</form>
{{else}}
<form action="/follow/{{user.id}}" method="post">
  <input style="display: inline;" type="submit" value="Follow">
</form>
{{/if}}
{{/if}}
