<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>location:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following:</h4>
{{#each following}}
  <div>{{to.displayName}}
  <form  action="/unfollow/{{to._id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{from.displayName}}</p>
{{/each}}

<h4> The user is
{{#if isFollowing}}
<h4>is following</h4>
<form  action="/unfollow/{{id}}" method="post">
  <input style="display: inline;" type="submit" value="Unfollow">
</form>
{{else}}
<h4>is not following</h4>
<div>
<form  action="/follow/{{id}}" method="post">
  <input style="display: inline;" type="submit" value="follow">
</form>
</div>
{{/if}}</h4>

<h4>REviews:</h4>
{{#each reviews}}
  <p>{{this.contents}}</p>
  <p>{{this.restaurantId.name}}</p>
*******************************
{{/each}}
