<h4>Name:</h4>
<p>{{displayName}}</p>

<h4>Email:</h4>
<p>{{username}}</p>

<h4>Address:</h4>
<p>{{address}}</p>

<h4>Reviews ({{reviews.length}}):</h4>
{{#each reviews}}
  <div>{{userId.displayName}}</div>
  <div>{{userId.location}}</div>
  <div>{{stars}}</div>
  <div>{{content}}</div>
{{/each}}

<h4>Following ({{allFollowings.length}}):</h4>
{{#each allFollowings}}
  <div>{{to.displayName}}
  <form  action="/api/toggleFollow/{{to.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers ({{allFollowers.length}}):</h4>
{{#each allFollowers}}
  <p>{{from.displayName}}</p>
{{/each}}