<div class="row">
<div class="col-xs-3"><span class="glyphicon glyphicon-user"></span> Name:</div>
<div class="col-xs-9">{{user.displayName}}</div>
</div>

<div class="row">
<div class="col-xs-3"><span class="glyphicon glyphicon-envelope"></span> Email:</div>
<div class="col-xs-9">{{user.email}}</div>
</div>

<div class="row">
<div class="col-xs-3"><span class="glyphicon glyphicon-home"></span> Address:</div>
<div class="col-xs-9">{{user.location}}</div>
</div>

<div class="row">
<div class="col-xs-3"><span class="glyphicon glyphicon-comment"></span> Reviews:</div>
<div class="col-xs-9">{{user.reviews}}</div>
</div>

<div class="row">
<div class="col-xs-3">Following:</div>
{{#each following}}
  <div>{{to.displayName}}
  <form  action="/unfollow/{{to.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}
</div>

<div class="row">
<div class="col-xs-3">Followers:</div>
{{#each followers}}
  <p>{{from.displayName}}</p>
{{/each}}
</div>
