<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<form  action="/follow/{{user._id}}" method="post">
  <input style="display: inline;" type="submit" value="Follow">
</form>

<form  action="/unfollow/{{user._id}}" method="post">
  <input style="display: inline;" type="submit" value="unfollow">
</form>


<h4>Following:</h4>
  {{#each allFollowing}}
    <div>{{following.displayName}}, in {{following.location}}</div>
    {{#if following}}
      <form  action="/unfollow/{{userId2}}" method="post">
        <input style="display: inline;" type="submit" value="Unfollow">
      </form>
    {{/if}}
    {{#if !following}}
      <form  action="/follow/{{userId2}}" method="post">
        <input style="display: inline;" type="submit" value="Follow">
      </form>
    {{/if}}
    </div>
  {{/each}}

<h4>Followers:</h4>
{{#each allFollowers}}
<p>{{follower.displayName}}, in {{follower.location}}</p>
{{/each}}
