<style>
  h3 {
    font-weight: bold;
  }

  h4 {
    color: rgba(0, 0, 0, 0.65);
  }
</style>
<h3>Profile page of {{user.displayName}}</h3>

<h4>{{user.location}}</h4>

<h4>{{user.email}}</h4>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following ({{followings.length}})</h4>
{{#each followings}}
  <div>
    <ul style="list-style: none;">
      <li>Name: {{this.displayName}}</li>
      <li>Location: {{this.location}}</li>
      {{#if isFollowBool}}
        <form action="/unfollow/{{this.to._id}}" method="post">
          <input style="display: inline;" type="submit" value="Unfollow">
        </form>
      {{/if}}
    </ul>
  </div>
{{/each}}

<h4>Followers ({{followers.length}})</h4>
{{#each followers}}
  <ul style="list-style: none;">
    <li>Name: {{this.displayName}}</li>
    <li>Location: {{this.location}}</li>
  </ul>
{{/each}}
