<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Reviews</th>
      <th>Following</th>
      <th>Followers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{user.displayName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.location}}</td>
      <td>
        {{#each reviews}}
          <strong><h4>{{this.restaurantId.name}}</h4></strong>
          {{#each yellowStarsArr}}
            <span style="color:gold; display:inline-block" class="glyphicon glyphicon-star"></span>
          {{/each}}
          {{#each greyStarsArr}}
            <span style="color:grey; display:inline-block" class="glyphicon glyphicon-star"></span>
          {{/each}}
          <br/>
            <p>{{this.content}}</p>
          <br/>
          <br/>
        {{/each}}
      </td>
      <td>
        {{#each followings}}
          <strong>{{this.to.displayName}}</strong><br/>
          {{this.to.location}}
          <br/>
        {{/each}}
      </td>
      <td>
        {{#each followers}}
          <strong>{{this.from.displayName}}</strong><br/>
          {{this.from.location}}
        <br/>
        {{/each}}
      </td>
    </tr>
  </tbody>
</table>

{{#if notLoggedInUser}}
  {{#if beingFollowed}}
    <div>
      <form action="/unfollow?toBeUnfollowedId={{user._id}}" method="post">
        <a href="http://localhost:3000/allUsers"><input class="btn btn-default" style="display: inline;" type="submit" value="Unfollow"></a>
      </form>
    </div>
    <br/>
    {{else}}
    <div>
      <form action="/follow?toBeFollowedId={{user._id}}" method="post">
        <a href="http://localhost:3000/allUsers"><input class="btn btn-default" style="display: inline;" type="submit" value="Follow"></a>
      </form>
    </div>
    <br/>
    {{/if}}
{{/if}}
