{{#each errors}}
  <p>{{this}}</p>
{{/each}}

<a href="/users">Back to all users</a>

<h4>Name:</h4>
<p>{{user.displayName}}</p>

{{#if usersProfile}}
{{else}}
  {{#if alreadyFollowed}}
  {{else}}
  <a href="/follow/{{user._id}}">Follow this user</a>
  {{/if}}
{{/if}}
<!-- <a href="/users/{{user._id}}/follow">Follow this user</a> -->

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.address}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following:</h4>

{{#each allFollowing}}
{{#if usersProfile}}
  <div>
    <p>{{this.to.displayName}}</p>
    <form  action="/unfollow/{{this.to.id}}" method="post">
      <input style="display: inline;" type="submit" value="Unfollow">
    </form>
  </div>

  {{else}}
    <div>
      <p>{{this.to.displayName}}</p>
    </div>
  {{/if}}
{{/each}}

<h4>Followers:</h4>
{{#each allFollowers}}
  <p>{{this.from.displayName}}</p>
{{/each}}
