<span class="bolded big">{{displayName}}'s profile page</span> <br>
<span> <b>Address: </b> {{location}}</span> <br>
<span> <b>Email: </b> {{email}}</span>


<h4>Reviews:</h4>
{{#each reviews}}
  <p class="bolded">{{restaurantId.displayName}}</p>
  <p>{{content}}</p>
{{/each}}


<div class="container">
  <div class="col-xs-4">
    <h4 class="red">Following: ({{allFollowings.length}})</h4>
    {{#each allFollowings}}
      <div>
        <span class="bolded">{{to.displayName}}</span> <br>
        <span>{{to.location}}</span>
      <form  action="/api/toggleFollow/{{to.id}}" method="post">
        <input style="display: inline;" type="submit" value="Unfollow">
      </form>
    </div>
    {{/each}}
  </div>
  <div class="col-xs-4">
    <h4 class="red">Followers: ({{allFollowers.length}})</h4>
    {{#each allFollowers}}
      <p>{{from.displayName}}</p>
    {{/each}}
  </div>
</div> <br>

<form class="" action="/" method="get">
  <input type="submit" name="" value="See All Profiles" class="col-xs-4" text="See All Profiles">
  </button>
</div> <br>
</form>
