<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.address}}</p>

<div class="">
  <h4>Reviews:</h4>
  {{#each reviews}}
    <div>{{this.restaurant}}
      {{this.content}}
  </div>
  {{/each}}
</div>

<div class="">
  <h4>Following:</h4>
  {{#each following}}
    <div>{{this.to.displayName}}
      {{this.to.location}}
    </div>
  {{/each}}
</div>


<h4>Followers:</h4>
{{#each followers}}
  <p>{{this.from.displayName}}</p>
    {{this.from.location}}
{{/each}}

  <form action="/unfollow/{{user._id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>

  <form action="/follow/{{user._id}}" method="post">
    <input style="display: inline;" type="submit" value="Follow">
  </form>
