{{#each errors}}
  <p>{{this}}</p>
{{/each}}

<a href="/users">Back to all users</a>

<h4>Name:</h4>
<p>{{user.displayName}}</p>

{{#if usersProfile}}
{{else}}
  {{#if alreadyFollowed}}
  <form  action="/users/{{{user._id}}}/unfollow" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
  {{else}}
  <a href="/users/{{user._id}}/follow">Follow this user</a>
  {{/if}}
{{/if}}
<!-- <a href="/users/{{user._id}}/follow">Follow this user</a> -->

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.address}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following: {{allFollowing.length}}</h4>

{{#each allFollowing}}
{{#if ../usersProfile}}
  <div>
    {{to.displayName}}
    {{to.location}}

    <form action="/users/{{{to._id}}}/unfollow" method="post">
      <input style="display: inline;" type="submit" value="Unfollow">
    </form>
  </div>

  {{else}}
    <div>
      {{to.displayName}}
      {{to.location}}
    </div>
  {{/if}}
{{/each}}

<h4>Followers: {{allFollowers.length}}</h4>
{{#each allFollowers}}
  <p>{{this.from.displayName}}</p>
{{/each}}


<h4>Reviews {{reviews.length}}</h4>
{{#each reviews}}

<div class="review">
  <div class="reviewer-info">
    <div class="reviewer-name" style="font-size: large">{{this.restaurantId.name}}</div>
    <div class="stars stars-{{this.stars}}" id="stars-{{this.stars}}" >
        <i class="star-1">★</i>
        <i class="star-2">★</i>
        <i class="star-3">★</i>
        <i class="star-4">★</i>
        <i class="star-5">★</i>
    </div>
  </div>
  <div class="review-content">
    <p>{{this.content}}</p>
  </div>
</div>
{{/each}}
