<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">{{user.displayName}}</h1>

		<div class="lead">{{this.userIdTo.displayName}}
			<a class="followbtn" href="/follow/{{currentUserId}}"><button type="button" class="btn btn-outline-danger btn-large">Follow</button></a>
			<a class="unfollowbtn" href="/unfollow/{{currentUserId}}"><button type="button" class="btn btn-outline-danger btn-large unfollowbtn">Unfollow</button></a>
		</div>

		<hr>

		<style>
		hr {
			border: 0;
			clear:both;
			display:block;
			width: 100%;               
			background-color: red;
			height: 2px;
		}
		</style>

		<div>
			<h4 style="display:inline-block;">Email:</h4>
			<p style="display:inline-block;">{{user.email}}</p>
		</div>

		<div>
			<h4 style="display:inline-block;">Location:</h4>
			<p style="display:inline-block;">{{user.location}}</p>
		</div>

		<div>
			<h4 style="display:inline-block;">Reviews:</h4>
			<p style="display:inline-block;">{{user.reviews}}</p>
		</div>

		<div>
			<h4 style="display:inline-block;">Following:</h4>
			{{#each following}}
			<div>{{this.userIdTo.displayName}}
				<form action="/unfollow/{{this.userIdTo._id}}" method="post">
					<input style="display: inline;" type="submit" value="Unfollow">
				</form>
			</div>
			{{/each}}
		</div>

		<div>
			<h4 style="display:inline-block;">Followers:</h4>
			{{#each followers}}
			<p>{{this.userIdFrom.displayName}}</p>
			{{/each}}
		</div>
	</div>
</div>
