<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
<div>
{{#each reviews}}
<p>{{restaurantId}}</p>
<p>{{content}}</p>
<p>{{stars}}</p>
{{/each}}
</div>

<form action="/unfollow/{{user._id}}" method="post">
  <input style="display: inline;" type="submit" value="Unfollow">
</form>

<form action="/follow/{{user._id}}" method="post">
  <input style="display: inline;" type="submit" value="Follow">
</form>


<h4>Following:</h4>
{{#each following}}
  <div>{{displayName}}
    {{location}}
  <form  action="/unfollow/{{userId2.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{displayName}}
  {{location}}</p>
{{/each}}
