<h1>{{user.displayName}}'s profile page</h1>
<h2>{{user.location}}</h2>
<script>console.log('now',{{isfollowing}})</script>
{{#if isfollowing}}
  <form  action="/unfollow/{{user._id}}" method="post">
    <input style="display: inline;" type="submit" class="btn btn-primary" value="Unfollow">
  </form>
{{else}}
  <form  action="/follow/{{user._id}}" method="post">
    <input style="display: inline;" type="submit" class="btn btn-primary" value="Follow">
  </form>
{{/if}}

<div class="container">
  <div class ="row">
    <div class="col-xs-6">
      <h3>Following: ({{following.length}})</h3>
      {{#each following}}
        <div>{{this.to.displayName}}
          <form  action="/unfollow/{{this._id}}" method="post">
            <input style="display: inline;" type="submit" value="Unfollow">
          </form>
          <p>{{this.to.location}}</p>
        </div>
      {{/each}}
    </div>
    <div class="col-xs-6">
      <h3>Followers:</h3>
      {{#each followers}}
        <div>{{this.from.displayName}}</div>
        <p>{{this.from.location}}</p>
      {{/each}}
    </div>
  </div>
</div>





