
<h4>Restaurant Name:</h4>
<p>{{restoName}}</p>

<h4>Category:</h4>
<p>{{category}}</p>

<h4>Price:</h4>
<p>{{price}}</p>

<h4>Open Time:</h4>
<p>{{openTime}}</p>

<h4>Close Time:</h4>
<p>{{closeTime}}</p>

<img src="https://maps.googleapis.com/maps/api/staticmap?center={{latitude}},{{longitude}}&markers=color:red|{{latitude}},{{longitude}}&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyCeXK5s9S5p6W-mgw8Mps6ynGNi82q_nk4">
