{{! YOUR CODE HERE }}
<h4>Name:</h4>
<p>{{restaurant.name}}</p>

<h4>Price:</h4>
<p>{{restaurant.price}}</p>

<h4>Category:</h4>
<p>{{restaurant.category}}</p>

<h4>Stars:</h4>
<p>{{restaurant.stars}}</p>

<h4>Open Time:</h4>
<p>{{restaurant.openHoursEST.openTime}}</p>

<h4>Closing Time:</h4>
<p>{{restaurant.openHoursEST.closingTime}}</p>


<img src="https://maps.googleapis.com/maps/api/staticmap?center={{restaurant.latitude}},{{restuarant.longitude}}&markers=color:red|{{restaurant.latitude}},{{restaurant.longitude}}&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyC7PnlgvcUFoVuQfJTXPj6K2rQi2LZbGZk">
