{{! YOUR CODE HERE }}
<h4>Name:</h4>
<p>{{restaurant.name}}</p>

<h4>Price:</h4>
<p>{{restaurant.price}}</p>

<h4>Category:</h4>
<p>{{restaurant.category}}</p>

<h4>Stars:</h4>
<p>{{restaurant.stars}}</p>

<h4>Open Time:</h4>
<p>{{restaurant.openTime}}</p>

<h4>Closing Time:</h4>
<p>{{restaurant.closingTime}}</p>

<h4>Map:</h4>
<img src="https://maps.googleapis.com/maps/api/staticmap?center={{restaurant.latitude}},{{restaurant.longitude}}&markers=color:red|{{restaurant.latitude}},{{restaurant.longitude}}&zoom=13&size=600x300&maptype=roadmap">


<br />
<h2>Reviews</h2>

{{#each reviews}}
<p>{{user.displayName}}</p>
<p>{{stars}}</p>
<p>{{content}}</p>
<a href="/follow/{{userId._id}}">Follow</a>
<hr />
{{/each}}

<a href="/newreview/{{restaurant._id}}">Leave Review</a>
