<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Location:</h4>
<p>{{user.location}}</p>

{{#if alreadyFollowing}}
<form  action="/unfollow/{{user._id}}" method="post">
  <input style="display: inline;" type="submit" value="Unfollow {{user.displayName}}">
</form>
{{else}}
<form  action="/follow/{{user._id}}" method="post">
  <input style="display: inline;" type="submit" value="Follow {{user.displayName}}">
</form>
{{/if}}

<h4>Reviews:</h4>
{{#each reviews}}
<div>{{reviews.restaurant}}</div>
<div>{{reviews.content}}</div>
{{/each}}

<h4>Following:</h4>
{{#each following}}
<!-- {{this}} -->
  <div>
    <p>{{to.displayName}}</p>
    <p>{{to.location}}</p>
  <!-- <form  action="/unfollow/{{to.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form> -->
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
{{this}}
  <p>{{this.from.displayName}}</p>
  <p>{{this.from.location}}</p>
{{/each}}
