<h4>Name:</h4>
<p>{{user.username}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>
{{user}}

<h4>Address:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
<p>{{user.reviews}}</p>

<h4>Following:</h4>
{{#each following}}
  <div>{{to.email}}
  <form  action="/unfollow/{{to.id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{from.displayName}}</p>
{{/each}}

<h4>Reviews:</h4>
<ul>
{{#each reviews}}
  <li>{{this.content}}</li>
{{/each}}