{{! YOUR CODE HERE }}
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>

<div class="restContainer">
  <div class="restHead">
    <form action="/restaurants" method="GET" id="backForm">
      <button type="submit" form="backForm" value="Submit">
        Back To All Restaurants
      </button>
    </form>
    <h1 style="text-align:center;">{{restaurant.name}}</h1>
    <div class="star-ratings-css">
      <div class="star-ratings-css-top" style="width:{{restaurant.averageRating}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    </div>
      {{dollars}}

  </div>
  <div class="rating">
  </div>
  <div class="map">
    <img style="margin-left:auto;margin-right:auto;display:block;padding-bottom:10px" src="https://maps.googleapis.com/maps/api/staticmap?center={{restaurant.latitude}},{{restaurant.longitude}}&amp;markers=color:red|{{restaurant.latitude}},{{restaurant.longitude}}&amp;zoom=13&amp;size=600x300&amp;maptype=roadmap&amp;key=AIzaSyByS4EgixgDAkOJHvwBa4VmyHQo6fYrvrE">
  </div>
  <div class="submitRating">
    <form method="GET" action="/restaurants/{{restaurant._id}}/review">
      <input type="submit" name="rating" value="Add a Review" class="btn btn-primary btn btn-info btn-lg btn-block" id="submit-rating" />
    </form>
  </div>
</div>


{{#each review}}
<div class="review">
  <div class="head">
<p>{{userId.displayName}}</p>

<!-- <div class="star-ratings-css">
  <div class="star-ratings-css-top" style="width:{{restaurant.averageRating}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div> -->

<div class="star-ratings-css-review" >
  <div class="star-ratings-css-top" style="width:{{starPercent}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
</div>

</div>
<div class="review-Body">
{{content}}
</div>
</div>

{{/each}}
