<div class="display-container col-xs-4">
  <p>{{name}}</p>
  <p>Relative Cost 1-3: {{price}}</p>
  <p>Opening: {{open}} Closing: {{close}}</p>
  <img src="https://maps.googleapis.com/maps/api/staticmap?center={{latitude}},{{longitude}}&markers=color:red|{{latitude}},{{longitude}}&zoom=13&size=600x300&maptype=roadmap&key={{key}}">
  <form action="/" method="post">
    <input type="submit" name="" value="Add a Review"></input>
  </form>
</div>
