<h4>{{user.email}}'s Profile Page</h4>


<!-- <h4>Reviews:</h4>
<p>{{user.reviews}}</p> -->


<h4>Following:</h4>
<ul>
  {{#each allFollowing}}
    <li>{{to.email}}</li>
  {{/each}}
</ul>

<br>
<br>

<h4>Followers:</h4>
<ul>
  {{#each allFollowers}}
    <li>{{from.email}}</li>
  {{/each}}
</ul>


<h4>Reviews:</h4>
<ul>
  {{#each reviews}}
    <li>review: {{content}} stars: {{stars}}</li>
  {{/each}}
</ul>
