<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Address:</h4>
<p>{{user.location}}</p>

<h4>Reviews:</h4>
<ul>
  {{#each reviews}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<h4>Following:</h4>
<ul>
  {{#each follows}}
    <li><div>{{this}}
    <form  action="/unfollow/{{this.id}}" method="post">
      <input style="display: inline;" type="submit" value="Unfollow">
    </form>
  </div></li>
  {{/each}}
</ul>

<h4>Followers:</h4>
{{#each followers}}
  <p>{{this}}</p>
{{/each}}

<form class="" action="/follow/" method="post">

</form>
