<center>
  <h3>{{user.displayName}}'s Profile Page</h3>

  <text><strong>Email: </strong></text><text>{{user.email}}</text></br>

  <text><strong>Location: </strong></text><text>{{user.location}}</text></br>

  <h4>Reviews:</h4>
  <p>{{user.reviews}}</p>

  <h4>Following:</h4>
  {{#each followings}}
    <p>{{to.displayName}}</p>
    <form action="/unfollow/{{this.to._id}}" method="get">
      <input style="display: inline" type="submit" value="Unfollow"></input>
    </form></br>
  {{/each}}

  <h4>Followers:</h4>
  {{#each followers}}
    <p>{{from.displayName}}</p>
  {{/each}}

  <form action="/profiles" method="get">
    <input style="display: inline" type="submit" value="All Profiles"></input>
  </form>

  <h5>You are: {{name}}</h5>
</center>
