
{{#if user.coverPhoto}}
  <div style="background-image: url({{user.coverPhoto}})" class="coverPhoto"> </div>
  {{else}}
  <div>
    <form action="" method="post">
      <input type="submit" value="Add a Cover Photo">
    </form>
  </div>
{{/if}}


<h4>Name:</h4>
<p>{{user.displayName}} <img class="profilePic" src="{{user.imgUrl}}"> </p>

<h4>Biography:</h4>
{{#if user.bio}}
  <p>{{user.bio}}</p>
  {{else}}
  <div>
    <form action="/bio/" method="post">
      <input type="submit" value="Add a Biography">
    </form>
  </div>
{{/if}}

<div>
  <form action="/follow/" method="post">
    <input type="submit" value="Follow">
  </form>
</div>

<h4>Tweets:</h4>
<p>{{user.tweets}}</p>

<h4>Following:</h4>
{{#each followings}}
  <div>{{this.following.displayName}}
  <form  action="/unfollow/{{this.to._id}}" method="post">
    <input style="display: inline;" type="submit" value="Unfollow">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
  <p>{{this.follower.displayName}}</p>
{{/each}}
