<h4>Name:</h4>
<p>{{displayName}}</p>

<img src={{imgUrl}} alt="Mountain View" style="width:304px;height:228px;">

<h4>Email:</h4>
<p>{{email}}</p>

<h4>Biography:</h4>
<p>{{bio}}</p>

<h4>Tweets:</h4>
<p>{{tweets}}</p>

{{!-- <button id="follow-button" type="button" name="follow" action="/follow/{{this._id}}">follow</button> --}}

<a href="/follow/{{this._id}}"> Follow..</a>


<h4>Following:</h4>
{{#each followings}}
<div>{{this.following.displayName}}
  <form action=" /unfollow/{{this.to._id}} " method="post ">
    <input style="display: inline; " type="submit " value="Unfollow ">
  </form>
</div>
{{/each}}

<h4>Followers:</h4>
{{#each followers}}
<p>{{this.follower.displayName}}</p>
{{/each}}