<div>
  <a href="/users"> See all users </a>
</div>


<img width=400 src={{user.imgUrl}}>
<h4>Name:</h4>
<p>{{user.displayName}}</p>

<h4>Email:</h4>
<p>{{user.email}}</p>

<h4>Biography:</h4>
<p>{{user.bio}}</p>

<h4>Tweets:</h4>
<p>{{user.tweets}}</p>
<div style="display: inline-block" class="following">
  <h4>Following:</h4>
  {{#each followings}}
  <img src="{{this.following.imgUrl}}" width="50" height="50">
    <div>{{this.following.displayName}}
    <!-- <form  action="/unfollow/{{this.to._id}}" method="post">
      <input style="display: inline;" type="submit" value="Unfollow">
    </form> -->
  </div>
  {{/each}}
</div>
<div style="display: inline-block; margin-left: 50px; margin-bottom: 30px;" class="followers">
  <h4>Followers:</h4>

  {{#each followers}}
    <img src="{{this.follower.imgUrl}}" width="50" height="50">
    <div id="{{this.follower.id}}">{{this.follower.displayName}}</div>
  {{/each}}
</div>
<div style="display: block">
{{#if isFollowing}}
  <a id="{{user._id}}" class="follow btn btn-primary">Unfollow</a>
{{else}}
  <a id="{{user._id}}" class="follow btn btn-primary">Follow</a>
{{/if}}
<script src="/javascript/singleProfile.js"></script>
<div>
