<h2>restaurant name:</h2>
<p>{{displayName}}</p>

<h4>category:</h4>
<p>{{category}}</p>

<h4>relative price:</h4>
<p>{{price}}</p>

<h4>open time :</h4>
<p>{{openTime}}</p>

<h4>closing time:</h4>
<p>{{closingTime}}</p>

<!-- <h4>Reviews:</h4>
<p>{{user.reviews}}</p> -->
<img src="https://maps.googleapis.com/maps/api/staticmap?center=[LATITUDE],[LONGITUDE]&markers=color:red|[LATITUDE],[LONGITUDE]&zoom=13&size=600x300&maptype=roadmap">



<form  action="---" method="post">
  <input style="display: inline;" type="submit" value="Add Review">
</form>
